<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <link rel="stylesheet" href="{% static 'forum/css/base.css' %}">
        <link rel="stylesheet" href="{% static 'forum/css/login.css' %}">
        <link rel="stylesheet" href="{% static 'forum/css/register.css' %}">
    </head>
    <body>
        <!-- Dropdown Profile Structure -->
        <ul id="profile-dropdown" class="dropdown-content">
            <li><a href="#!" class="deep-purple-text">Προφιλ</a></li>
            <li><a href="#!" class="deep-purple-text">Ρυθμίσεις</a></li>
            <li><a class="deep-purple-text" href="{% url 'forum:logout' %}">Αποσύνδεση</a></li>
        </ul> 
        <nav class="nav-extended deep-purple">
            <div class="nav-wrapper">
                <a href="{% url 'forum:homepage' %}" class="brand-logo">programatistis.gr</a>
                <a href="#" data-target="mobile-links" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    {% if user.is_authenticated %}
                        <li><a class="dropdown-trigger" href="#!" data-target="profile-dropdown">{{ user.username }}<i 
                            class="material-icons right">keyboard_arrow_down</i></a></li>
                    {% else %}
                        <li><a href="{% url 'forum:login' %}">Σύνδεση</a></li>
                        <li><a href="{% url 'forum:register' %}">Εγγραφή</a></li>
                    {% endif %}
                </ul>
            </div>
            <div class="nav-content">
                <ul class="tabs tabs-transparent">
                    <li class="tab"><a href="#test1">Test 1</a></li>
                    <li class="tab"><a href="#test2">Test 2</a></li>
                    <li class="tab"><a href="#test4">Test 4</a></li>
                    <li class="tab"><a href="#test4">Test 4</a></li>
                    <li class="tab"><a href="#test4">Test 4</a></li>
                </ul>
            </div>
        </nav>

        <ul class="sidenav" id="mobile-links">
            {% if user.is_authenticated %}
                <li><a href="#!" class="deep-purple-text">{{user.username}}</a></li>
                <li><a href="#!" class="deep-purple-text">Ρυθμίσεις</a></li>
                <li><a class="deep-purple-text" href="{% url 'forum:logout' %}">Αποσύνδεση</a></li>
            {% else %}
                <li><a href="{% url 'forum:login' %}">Σύνδεση</a></li>
                <li><a href="{% url 'forum:register' %}">Εγγραφή</a></li>
            {% endif %}
        </ul>

        <script src="{% static 'forum/js/dropdown.js' %}"></script>
        <script src="{% static 'forum/js/sidebar.js' %}"></script>

        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'success' %}
                    <script>M.toast({html: '{{message}}', classes:'green', displayLength:5000});</script>
                {% elif message.tags == 'error' %}
                    <script>M.toast({html: '{{message}}', classes:'red', displayLength:5000});</script>
                {% elif message.tags == 'warning' %}
                    <script>M.toast({html: '{{message}}', classes:'orange', displayLength:5000});</script>
                {% elif message.tags == 'info' %}
                    <script>M.toast({html: '{{message}}', classes:'blue', displayLength:5000});</script>
                {% endif %}
            {% endfor %}
        {% endif %}
        

        {% block content %}
        {% endblock %}
		
        <footer class="page-footer deep-purple">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">Footer Content</h5>
                        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 class="white-text">Links</h5>
                        <ul>
                            <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    © 2019 All Rights Reserved OneTwenty Inc.
                    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
                </div>
            </div>
        </footer> 
    </body>
</html>
