<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <link rel="stylesheet" href="{% static 'forum/css/base.css' %}">
        <link rel="stylesheet" href="{% static 'forum/css/login.css' %}">
        <link rel="stylesheet" href="{% static 'forum/css/register.css' %}">
        <script src="{% static 'forum/js/base.js' %}" defer></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>

    <main>

        <!-- Navbar -->
        <div class="navbar-fixed">
            <nav class="nav-extended grey darken-4">
                <div class="nav-wrapper">

                    <a href="{% url 'forum:homepage' %}" class="brand-logo"><img src="{% static 'assets/main-logo.png' %}" class="main-logo"></a>

                    <a href="#" data-target="mobile-links" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                    
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        {% if user.is_authenticated %}
                            <li><a class="dropdown-trigger" href="#!" data-target="profile-dropdown">{{ user.username }}<i 
                                class="material-icons right">person</i></a></li>
                        {% else %}
                            <li><a href="{% url 'forum:login' %}">Σύνδεση</a></li>
                            <li><a href="{% url 'forum:register' %}">Εγγραφή</a></li>
                        {% endif %}
                    </ul>
                    
                </div>  
            </nav>
        </div>

        <!-- Dropdown Profile Structure -->
        <ul id="profile-dropdown" class="dropdown-content">
            <li><a href="#!" class="black-text">Προφίλ</a></li>
            <li><a href="#!" class="black-text">Ρυθμίσεις</a></li>
            <li><a class="black-text" href="{% url 'forum:logout' %}">Αποσύνδεση</a></li>
        </ul>

        <!-- Categories Navbar -->
        <div class="navbar-fixed">
            <nav class="nav-extended nav-categories grey darken-3">
                <ul id="nav-mobile" class="left hide-on-med-and-down nav-width">
                        
                    <li><a class="dropdown-trigger-categories" href="#programming-languages" data-target="profile-dropdown-categories-languages">Γλώσσες Προγραματισμού</a>
                        <ul id="profile-dropdown-categories-languages" class="grey darken-3 dropdown-content">
                            <li><a href="#!" class="white-text">Python</a></li>
                            <li><a href="#!" class="white-text">C/C++</a></li>
                            <li><a href="#!" class="white-text">Java</a></li>
                        </ul>
                    </li>
                    
                    <li><a class="dropdown-trigger-categories" href="#web-development" data-target="profile-dropdown-categories-web">Web Development</a>
                        <ul id="profile-dropdown-categories-web" class="grey darken-3 dropdown-content">
                            <li><a href="#!" class="white-text">Front End</a></li>
                            <li><a href="#!" class="white-text">Back End</a></li>
                        </ul>
                    </li>

                    <li><a class="dropdown-trigger-categories" href="#mobile-development" data-target="profile-dropdown-categories-mobile">Mobile Development</a>
                        <ul id="profile-dropdown-categories-mobile" class="grey darken-3 dropdown-content">
                            <li><a href="#!" class="white-text">Android</a></li>
                            <li><a href="#!" class="white-text">iOS</a></li>
                        </ul>
                    </li>
                    
                    <li><a class="dropdown-trigger-categories" href="#artificial-intelligence" data-target="profile-dropdown-categories-ai">Τεχνητή Νοημοσύνη</a>
                        <ul id="profile-dropdown-categories-ai" class="grey darken-3 dropdown-content">
                            <li><a href="#!" class="white-text">Machine Learning</a></li>
                            <li><a href="#!" class="white-text">Deep Learning</a></li>
                        </ul>
                    </li>

                    <li><a class="dropdown-trigger-categories" href="#education" data-target="profile-dropdown-categories-education">Εκπαίδευση</a>
                        <ul id="profile-dropdown-categories-education" class="grey darken-3 dropdown-content">
                            <li><a href="#!" class="white-text">Πανεπιστήμιο</a></li>
                            <li><a href="#!" class="white-text">Γενικό Λύκειο</a></li>
                            <li><a href="#!" class="white-text">ΕΠΑΛ</a></li>
                        </ul>
                    </li>

                </ul>
            </nav>
        </div>
        
        <!-- Sidenav -->
        <ul class="sidenav" id="mobile-links">
            {% if user.is_authenticated %}
                <li><a class="dropdown-trigger" href="#!" data-target="profile-dropdown-sidenav">{{ user.username }}<i 
                    class="material-icons right">person</i></a></li>
                <li><div class="divider"></div></li>
            {% else %}
                <li><a class="black-text" href="{% url 'forum:login' %}">Σύνδεση</a></li>
                <li><a class="black-text" href="{% url 'forum:register' %}">Εγγραφή</a></li>
            {% endif %}
            <li><a class="dropdown-trigger" href="#!" data-target="languages-dropdown-sidenav">Γλώσσες Προγραματισμού</a></li>
                <li><a class="black-text" href="#">Γλώσσες Προγραματισμού</a></li>
                <li><a class="black-text" href="#">Web Development</a></li>
                <li><a class="black-text" href="#">Mobile Development</a></li>
                <li><a class="black-text" href="#">Τεχνητή Νοημοσύνη</a></li>
                <li><a class="black-text" href="#">Εκπαίδευση</a></li>
        </ul>

        <!-- Dropdown Profile Sidenav Structure -->
        <ul id="profile-dropdown-sidenav" class="dropdown-content">
            <li><a href="#!" class="black-text">Προφίλ</a></li>
            <li><a href="#!" class="black-text">Ρυθμίσεις</a></li>
            <li><a class="black-text" href="{% url 'forum:logout' %}">Αποσύνδεση</a></li>
        </ul>

        <!-- Dropdown Languages Sidenav Structure -->
        <ul id="languages-dropdown-sidenav" class="dropdown-content">
            <li><a href="#!" class="black-text">Python</a></li>
            <li><a href="#!" class="black-text">C/C++</a></li>
            <li><a href="#!" class="black-text">Java</a></li>
        </ul>

        <!-- Error Messages -->
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'success' %}
                    <script>M.toast({html: '{{message}}', classes:'green', displayLength:5000});</script>
                {% elif message.tags == 'error' %}
                    <script>M.toast({html: '{{message}}', classes:'red', displayLength:5000});</script>
                {% elif message.tags == 'warning' %}
                    <script>M.toast({html: '{{message}}', classes:'orange', displayLength:5000});</script>
                {% elif message.tags == 'info' %}
                    <script>M.toast({html: '{{message}}', classes:'blue', displayLength:5000});</script>
                {% endif %}
            {% endfor %}
        {% endif %}
        
        <!-- Content -->
        <div class="container"> 
            {% block content %}
            {% endblock %}
        </div>
       
    </main>

        <!-- Footer -->
        <footer class="page-footer grey darken-4">
            <div class="footer-copyright grey darken-4">
                <div class="container">
                    © 2019 All Rights Reserved OneTwenty Inc.
                    <a class="grey-text text-lighten-4 right" href="https://github.com/one-twenty/programatistisgr" target="blank">See our project here.</a></div> 
                </div>
            </div>
        </footer> 

    </body>
</html>
