{% extends 'forum/base.html' %}

{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'forum/css/category.css' %}">
{% endblock styles %}

{% block content%}

<h4>{{category.parent_category.name}} > {{category.name}}</h4>

{% for topic in topics %}

    <div class="topic-card">
        <div class="col s12 m7">
            <div class="card horizontal">
                <div class="card-image">
                    <img src="{% static topic.user.userprofile.image.url|slice:'13:' %}">
                </div>
                <div class="category">
                    <p>
                        <a href="#">{{topic.category.parent_category.name}}</a>  
                        >
                        <a href="category/{{topic.category.url}}">{{topic.category}}</a>        
                    </p>
                </div>
                <div class="user">
                    <p>
                        <a href="">{{topic.user}}</a> <br>
                        <span class="only-fullscreen">
                            <span class="{{topic.user.userprofile.role|lower}}">{{topic.user.userprofile.get_role_display}}</span><br>
                            Posts: {{topic.user.userprofile.posts}}
                        </span>
                    </p>
                </div>
                <div class="card-stacked">
                    <div class="datetime-published">
                        <p>{{topic.datetime}}</p>
                    </div>
                    <div class="post-title">
                        {% if topic.content|length > 43 %}
                            {{topic.title|slice:40}}..
                        {% else %}
                            {{topic.title}}
                        {% endif %}
                    </div>
                    <div class="card-content">
                        <p>
                            {% if topic.content|length > 100 %}
                                {{topic.content|slice:97|safe}}...
                            {% else %}
                                {{topic.content|safe}}
                            {% endif %}
                        </p>
                    </div>
                    <div class="topic-action">
                        <a class="btn red topic-action-btn" href="{% url 'forum:topic' topic.id %}">Εμφάνιση</a>
                        {% if user.is_authenticated %}
                            <a class="btn red topic-action-btn" href="#">Απάντηση</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endfor %}

{% endblock %}
