{% extends 'forum/base.html' %} 

{% block content %}

<h2>Τελευταία Θέματα</h2>

<div class="topic-card">
    <div class="col s12 m7">
        <div class="card horizontal">
            <div class="card-image">
                <img src="https://lorempixel.com/100/190/nature/6" />
            </div>
            <div class="category">
                <p>
                    Γλώσσες Προγραμματισμού > Python
                </p>
            </div>
            <div class="user">
                <p>
                    <a href="">Splanis</a> <br>
                    Admin <br>
                    Μηνύματα: 666
                </p>
            </div>
            <div class="card-stacked">
                <div class="datetime-published">
                    <p>Τρίτη 3/12/2019 13:16</p>
                </div>
                <div class="post-title">
                    This is a fucking test topic
                </div>
                <div class="card-content">
                    <p>
                        I am a very simple card. I am good at containing small
                        bits of information.I am a very simple card. I am good at containing small
                        bits of information.I am a very simple card. I am good at containing small
                        bits of information.I am a very simple card. I am good at containing small
                        bits of information.
                    </p>
                </div>
                <div class="card-action">
                    <a href="#">Εμφάνιση Θέματος</a>
                    <a href="#">Απάντηση</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
