{% extends 'forum/base.html' %}

{% block content %}

    <div class="row login-card">
        <form method="POST">
            {% csrf_token %}
            {% for field in form %}
                <div class="row">
                    <div class="input-field">
                        {{field}}
                        <label for="{{field.id_for_label}}">{{field.label_tag}}</label>
                    </div>
                </div>
            {% endfor %}
            <button type="submit" class="btn deep-purple">Συνδεση</button>
            <a  class="btn deep-purple" href="{% url 'forum:register' %}">Εγγραφη</a> 
            <p><a class="forgot-password" href="">Ξέχασα τον κωδικό μου</a> </p>
        </form>
    </div>
    
{% endblock %}
