{% extends 'forum/base.html' %}

{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'forum/css/login.css' %}">
{% endblock styles %}

{% block content %}

    <div class="login-card">
        <form method="POST" class="login-form col s12">
            {% csrf_token %}
            {% for field in form %}   
            <div class="input-field"> 
                {{field}}
                <label for="{{field.id_for_label}}">{{field.label_tag}}</label>
            </div>   
            {% endfor %}
            <div class="btns">
                <button type="submit" class="btn red default-btn login-btn">Σύνδεση</button>
                <a class="btn red register-btn default-btn" href="{% url 'forum:register' %}">Εγγραφή</a> 
                <p><a class="forgot-password" href="">Ξέχασα τον κωδικό μου</a></p>
            </div>
        </form>
    </div>
    
{% endblock %}
