{% extends 'forum/base.html' %} 

{% block content %}

<div class="row register-card">
    <form method="POST">
        {% csrf_token %} 
        {% for field in form %}
        <div class="row">
            <div class="input-field">
                {{field}}
                <label for="{{field.id_for_label}}">{{field.label_tag}}</label>
            </div>
        </div>
        {% endfor %}
        <button class="btn red button" type="submit">Εγγραφη</button>
    </form>
    <!-- <p>Αν έχεις ήδη λογαριασμό, <a href="{% url 'forum:login' %}"><strong>Συνδέσου</strong></a> εδώ</p> -->
</div>

{% endblock content %}
