{% extends 'forum/base.html' %} {% load static %} {% block styles %}
<link rel="stylesheet" href="{% static 'forum/css/topic.css' %}" />
{% endblock styles %} {% block content%}

<h4>{{topic.category.parent_category.name}} > {{topic.category.name}}</h4>

<div class="topic-card">
    <div class="card-user">
        <div class="user-image">
            <a href="{% url 'forum:profile' topic.user.username %}">
                <img src="{% static topic.user.userprofile.image.url|slice:'13:' %}" />
            </a>
        </div>
        <div class="user-info">
            <a href="{% url 'forum:profile' topic.user.username %}">{{topic.user}}</a>
            <div class="{{topic.user.userprofile.role|lower}}">{{topic.user.userprofile.get_role_display}}</div>
            <div>Posts: {{topic.user.userprofile.posts_count}}</div>
        </div>
    </div>
    <div class="card-content">
        <div class="topic-datetime">
            {{topic.datetime}}
        </div>
        <div class="topic-title">
            {{topic.title}}
        </div>
        <div class="topic-content">
            {{topic.content|safe}}
        </div>
        <div class="divider"></div>
        <div class="topic-action">
            <div class="btns">
                {% if topic.user == user %}
                <a class="btn topic-action-btn red" href="#post">Επεξεργασία</a>
                {% endif %}
                <a class="btn topic-action-btn red" href="#post">Παράθεση</a>
            </div>
            <button id="{{topic.id}}" class="like"><img src="{% static 'assets/like-btn.png' %}" /></button>
        </div>
    </div>
</div>

{% for post in posts %}
<div class="topic-card">
    <div class="card-user">
        <div class="user-image">
            <a href="{% url 'forum:profile' post.user.username %}">
                <img src="{% static post.user.userprofile.image.url|slice:'13:' %}" />
            </a>
        </div>
        <div class="user-info">
            <a href="{% url 'forum:profile' post.user.username %}">{{post.user}}</a>
            <div class="{{post.user.userprofile.role|lower}}">{{post.user.userprofile.get_role_display}}</div>
            <div>Posts: {{post.user.userprofile.posts_count}}</div>
        </div>
    </div>
    <div class="card-content">
        <div class="topic-datetime">
            {{post.datetime}}
        </div>
        <div class="topic-content">
            {{post.content|safe}}
        </div>
        <div class="divider"></div>
        <div class="topic-action">
            <div class="btns">
                {% if topic.user == user %}
                <a class="btn topic-action-btn red" href="#post">Επεξεργασία</a>
                {% endif %}
                <a class="btn topic-action-btn red" href="#post">Παράθεση</a>
            </div>
            <button id="{{post.id}}" class="like">
                <img src="{% static 'assets/like-btn.png' %}" />
            </button>
        </div>
    </div>
</div>
{% endfor %}

<div id="post" class="reply">
    <form method="POST">
        {% csrf_token %} {{form}}
        <button type="submit" class="btn red topic-action-btn">Δημοσίευση</button>
    </form>
    <div>
        {% endblock %}
    </div>
</div>
