html,
body {
    background-color: #cacaca;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    color: black;
}

*:focus {
    outline: none;
}

main {
    flex: 1 0 auto;
}

@media only screen and (min-width: 601px) {
    #toast-container {
        position: relative;
        width: 22vh;
        left: 50%;
        top: 50%;
        text-align: center;
    }

    .main-logo {
        margin-left: 10px;
        height: 6.5vh;
    }

    .brand-logo {
        height: 6.5vh;
    }
}

@media only screen and (max-width: 601px) {
    #toast-container {
        position: absolute;
        top: 0%;
        margin-top: 50px;
        width: 60%;
    }
    .main-logo {
        margin: 8px;
        height: 50px;
    }

    .brand-logo {
        height: 50px;
    }
}

li {
    text-transform: none !important;
}

.dropdown-content {
    height: auto !important;
}

.dropdown-content li {
    text-align: center;
}

.nav-width li {
    width: 307px;
    text-align: center;
}

.nav-categories {
    line-height: 45px;
}

.nav-categories > ul > li > a:hover {
    cursor: text;
}

.nav-categories ul li:hover {
    background-color: #212121 !important;
}

.dropdown-menu a:hover {
    background: #212121 !important;
}

.nav-wrapper {
    padding: 0 !important;
    margin: 0 !important;
}

.input-field label {
    color: rgb(36, 36, 36);
}

input:focus {
    border-bottom: 1px solid red !important;
    box-shadow: 0 1px 0 0 red !important;
}
