h4 {
    text-align: center;
    margin-top: 50px;
    color: white;
}

.card {
    border-radius: 20px;
    padding: 5px;
    animation: topics-show 1.5s;
    background: #212121 !important;
    color: white;
    height: 100px;
}

.card-action {
    position: absolute;
    transform: translateY(140%);
    bottom: 0;
}

.card-action a {
    color: red !important;
    text-transform: none !important;
    transform: translateX(50%) !important;
}

.topic-card {
    border-radius: 10px;
}

.topic-card img {
    border-radius: 50% !important;
    height: 80px !important;
    width: 80px !important;
    margin-top: 4px;
}

.datetime-published {
    padding: 20px;
    font-size: 13px;
    margin-top: -3px;
}

.user {
    text-align: center;
    margin-top: -13px;
    margin-left: 5px;
}

.user a {
    font-size: 20px;
}

.post-title {
    position: absolute;
    font-size: 30px;
    margin-left: 20px;
    margin-top: -10px;
}

.category {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 15px;
    pointer-events:auto;
}

.category a {
    color: #757575 ;
}

.category p a:hover {
    cursor: pointer;
}

.card-content {
    position: absolute;
    margin-top: 30px;
    margin-left: -4px;
    font-size: 16px;
}

.topic-action {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 5px;
}

.btn{
    border-radius: 30px;
}

.btn:hover {
    transition: ease-in 0.1s;
    transform: scale(1.1);
}

.topic-action a {
    margin-left: 10px;  
    color: white;
    text-transform: none;
}

@keyframes topics-show {
    from {
        transform: translateY(1000px);
        opacity: 0;
    }
}
