h4{
    margin-top: 50px;
    text-align: center;
}

.topic-create-form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}

button {
    text-transform: none !important;
    margin-top: 10px; 
}

