.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.login-card {
    margin: auto;
    animation: fade-up 1s;
    padding: 5px;
}

.forgot-password {
    text-decoration: underline;
    color: #495AE7;
}

.forgot-password:hover {
    color: blue;
}
