h4 {
    text-align: center;
    margin-top: 50px;
    color: black;
}

.admin{
    color: red;
}

.moderator{
    color: blue;
}

.card {
    border-radius: 20px;
    padding: 5px;
    animation: topics-show 1.5s;
    background: #212121 !important;
    color: white;
    min-height: 210px;
}

.card-action {
    padding: 0;
    margin: 0;
}

.card-content {
    word-wrap: break-word;
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
}

.card-action a {
    color: red !important;
    text-transform: none !important;
}

.topic-card {
    border-radius: 10px;
}

.topic-card img {
    border-radius: 50% !important;
    height: 120px !important;
    width: 120px !important;
}

.datetime-published {
    margin-right: 10px;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-top: 20px;
}

.user {
    position: absolute;
    margin-left: 30px;
    margin-top: 110px;
    text-align: center;
    bottom: 0;
}

.user a {
    font-size: 20px;
}

.post-title {
    font-size: 2rem;
    margin-left: 20px;
}

.post {
    display: flex;
    justify-content: center;
}

.category {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 15px;
}

.card-action a {
    color: white !important;
}

.publish-btn {
    text-transform: none;
    margin: 10px;
}

@keyframes topics-show {
    from {
        transform: translateY(1000px);
        opacity: 0;
    }
}
